/* #bg_grad {
  background-image: linear-gradient(
    to bottom,
    #285fa5,
    #2765ac,
    #266bb3,
    #2572b9,
    #2378c0,
    #1784c9,
    #0891d2,
    #009dd9,
    #00b1dd,
    #00c2d0,
    #00d1b2,
    #2edc8a
  );
} */
:root {
  --swiper-theme-color: white;
}

#max-size {
  width: 1280px;
  height: 100vh;
}

#bg_grad {
  background: rgb(159, 191, 246);
  background: radial-gradient(
    circle,
    rgba(159, 191, 246, 1) 0%,
    rgba(32, 129, 201, 1) 16%,
    rgba(40, 95, 165, 1) 39%
  );
}

.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  --swiper-pagination-color: var(--theme-color);
  --theme-color: white;
}
